.reportCard { page-break-after: always; }
.reportCard:last-child { page-break-after: avoid; }

//td { border: 1px solid transparent; }

.newPage { page-break-after: always; }

.page { width: 11in; min-width: 11in; height: 8.5in; min-height: 8.5in; max-height: 8.5in; }
.pageTable { margin: 0.125in 0.5in 0.25in 0.25in; padding: 0; }
.page2Table { margin: 0.25in; padding: 0; }

h3.coachCommentsTop { margin: 0; }

.frontPage {
    height: 100%;
}

.tableThingy { 
    height: 100%
}

.rowThingy {
    height: 100%;
}

.star {
    width: 4in;
}

.logoWrapper {
    width: 100%;
    text-align: left;
}

.logo {
    min-width: 3in;
    width: 3in;
}

.infoWrapper {
    text-align: left;
}

.infoWrapper p {
    margin: 0;
    margin-left: 0.25in;
    color: black;
    font-size: 1.25rem; 
}

.gender {
    width: 1in;
    min-width: 1in;
    max-width: 1in;
    height: 100%;
    border-right: 2px solid green;
}

.mainDisplay {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.starWrapper {
    position: relative;
}

.starWrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

.title { 
    --webkit-print-color-adjust: exact;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 100%;
    text-align: center;
}

.athleteName { 
    position: absolute;
    width: 100%;
    color: black;
    top: 2in;
}

.halfPage { width: 5.2in; min-width: 5.2in; max-width: 5.2in; }

.commentTable { border-collapse: collapse; width: 100%; }
table.commentTable tr td { border: 1px solid black; }
.commentRow { height: 1.5in; min-height: 1.5in; max-width: 4.5in; }
td.commentRow { height: 100%; width: 100%; }
.commentRow td p { margin: 0; margin-left: 0.125in; }

.rankTable { border-collapse: collapse; }
table.rankTable tr td { border: 1px solid black; }
.eventName { 
    white-space: nowrap; 
    text-align: center;
    max-width: 0.5in; 
    width: 0.5in;
}
td.eventName > div { transform: rotate(180deg); }
.vertical-text { writing-mode: vertical-rl; }

.shading { background-color: lightgray; -webkit-print-color-adjust: exact; }
.spacing { min-width: 0.25in; max-width: 0.25in; font-size: x-small; font-weight: bold; text-align: center; }
.skill { max-width: 1.25in; min-width: 1.25in; height: 0.35in; font-size: x-small; padding-left: 0.1in; }
.levelName { font-size: small; font-weight: bold; text-align: center; }

.legend { font-size: large; text-align: center; }
.note { font-size: small; text-align: center; }