.reportCard { page-break-after: always; }
.reportCard:last-child { page-break-after: avoid; }

td { border: 1px solid red; }

.newPage { page-break-after: always; }

.page { width: 11in; min-width: 11in; height: 8.5in; min-height: 8.5in; }
.pageTable { margin: 0.125in 0.25in 0.25in 0.25in; padding: 0; }
.page2Table { margin: 0.25in; padding: 0; }

h3.coachCommentsTop { margin: 0; }

.frontPage {
    height: 100%;
}

.tableThingy { 
    height: 100%
}

.gender {
    width: 1.5in;
    min-width: 1.5in;
    height: 100%;
    border-right: 2px solid green;
}

.mainDisplay {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.title { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    width: 100%;
    text-align: center;
}

.firstLineTitle { 
    font-size: 4rem; 
    position: absolute;
    top: 0;
}
.secondLineTitle { 
    font-size: 3rem; 
    position: absolute;
    top: 1.25in;
}
.thirdLineTitle { 
    font-size: 3rem; 
    position: absolute;
    top: 2in;
}
.athleteName { 
    position: absolute;
    width: 100%;
    top: 3.5in;
}

.halfPage { width: 5.25in; min-width: 5.25in; }

.commentTable { border-collapse: collapse; }
table.commentTable tr td { border: 1px solid black; }
.commentRow { height: 1.7in; min-height: 1.7in; width: 100%; }
td.commentRow { height: 100%; width: 100%; }
.commentRow td p { margin: 0; margin-left: 0.125in; }

.rankTable { border-collapse: collapse; }
table.rankTable tr td { border: 1px solid black; }
.eventName { 
    width: 0.5in;
    white-space: nowrap; 
}
td.eventName > div { transform: rotate(270deg); }

.shading { background-color: lightgray; -webkit-print-color-adjust: exact; }
.spacing { min-width: 0.25in; font-size: x-small; font-weight: bold; text-align: center; }
.skill { min-width: 1.4166666in; height: 0.35in; font-size: x-small; }
.levelName { font-size: small; font-weight: bold; text-align: center; }

.legend { font-size: large; text-align: center; }
.note { font-size: small; text-align: center; }