<!--<div class="reportCard" *ngFor="let id of reportCardIds; let i = index">
  <h1>Report Card. {{ id }}</h1>
  Amount: {{ (reportCardDetails[i] | async)?.day_of_week }}
</div>-->

<!-- Good luck to whoever ends up editting this page... Setting up pages specificly for printing sucks. -->
<ng-container *ngIf="reportCardLoaded | async">
<div class="page">
  <table class="pageTable">
    <tr>
      <td colspan="2">
        <h3 class="coachCommentsTop">COACH COMMENTS:</h3>
      </td>
    </tr>
    <tr>
      <td class="halfPage">
        <table class="commentTable">
          <tr *ngFor="let comment of printableReportCard.coachComments;" class="commentRow">
            <td>
              <p>LEVEL COMPLETED: {{comment.level_name}}</p>
              <p>Date: {{comment.updated_date}}</p>
              <p>Coach: {{comment.first_name}} {{comment.last_name}}</p>
              <p>COMMENTS: {{comment.comment}}</p>
            </td>
          </tr>
        </table>
      </td>
      <td class="halfPage frontPage">
        <table class="tableThingy">
          <tr class="rowThingy">
            <td class="gender">
              
<!-- SVGs are used for the front page text to allow for outlined text and easier rotation -->
                <svg
                id="svg8"
                version="1.1"
                viewBox="0 0 210 297"
                height="7in"
                width="1in">
               <defs
                  id="defs2">
                 <linearGradient
                    id="linearGradient823">
                   <stop
                      id="stop819"
                      offset="0"
                      style="stop-color:#000000;stop-opacity:1;" />
                   <stop
                      id="stop821"
                      offset="1"
                      style="stop-color:#000000;stop-opacity:0;" />
                 </linearGradient>
                 <linearGradient
                    gradientUnits="userSpaceOnUse"
                    y2="300.318106"
                    x2="100.26041"
                    y1="0.318106"
                    x1="0.639881"
                    id="linearGradient825"
                    xlink:href="#linearGradient823"
                    gradientTransform="translate(-123.73984,-3.201011)" />
               </defs>
               <g
                  id="layer1">
                 <text
                    id="text817"
                    y="175"
                    x="0"
                    style="font-style:normal;font-weight:normal;font-size:12rem;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#93bc3c;fill-opacity:1;stroke:#000000;stroke-width:0.46487292;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
                    xml:space="preserve"
                    transform="rotate(-90)"><tspan
                      style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:condensed;font-size:12rem;font-family:Impact;-inkscape-font-specification:'Impact, Condensed';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;opacity:1;fill:#93bc3c;fill-opacity:1;stroke:#000000;stroke-width:0.46487292;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
                      y="175"
                      x="-850"
                      id="tspan815">WOMEN'S</tspan></text>
               </g>
             </svg>
            </td>
            <td class="mainDisplay">
              
              <div class="starWrapper">
                <img src="assets/star.png" class="star">
                <svg><defs id="defs2"><linearGradient id="linearGradient823"><stop id="stop819" offset="0" style="stop-color:#000000;stop-opacity:1;" />
                  <stop id="stop821" offset="1" style="stop-color:#000000;stop-opacity:0;" />
                </linearGradient>
                <linearGradient
                  gradientUnits="userSpaceOnUse"
                  y2="26.318106"
                  x2="400"
                  y1="26.318106"
                  x1="33.639881"
                  id="linearGradient825"
                  xlink:href="#linearGradient823" />
              </defs>
              <g
                id="layer1">
                <text
                  id="text817"
                  y="90"
                  x="75"
                  style="font-style:normal;font-weight:normal;font-size:4rem;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:url(#linearGradient825);stroke-width:0.465;stroke-miterlimit:4;stroke-dasharray:none"
                  xml:space="preserve"><tspan
                    style="stroke-width:0.465;stroke:#000000;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;fill:#ffffff;fill-opacity:1;-inkscape-font-specification:'Impact, Condensed';font-family:Impact;font-weight:normal;font-style:normal;font-stretch:condensed;font-variant:normal;font-size:4rem;text-anchor:start;text-align:start;writing-mode:lr;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;opacity:1"
                    id="tspan815">WOMEN'S</tspan></text>
              </g>
            </svg>
            <svg><defs id="defs2"><linearGradient id="linearGradient823"><stop id="stop819" offset="0" style="stop-color:#000000;stop-opacity:1;" />
              <stop id="stop821" offset="1" style="stop-color:#000000;stop-opacity:0;" />
            </linearGradient>
            <linearGradient
              gradientUnits="userSpaceOnUse"
              y2="26.318106"
              x2="400"
              y1="26.318106"
              x1="33.639881"
              id="linearGradient825"
              xlink:href="#linearGradient823" />
          </defs>
          <g
            id="layer1">
            <text
              id="text817"
              y="150"
              x="50"
              style="font-style:normal;font-weight:normal;font-size:4rem;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:url(#linearGradient825);stroke-width:0.465;stroke-miterlimit:4;stroke-dasharray:none"
              xml:space="preserve"><tspan
                style="stroke-width:0.465;stroke:#000000;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;fill:#ffffff;fill-opacity:1;-inkscape-font-specification:'Impact, Condensed';font-family:Impact;font-weight:normal;font-style:normal;font-stretch:condensed;font-variant:normal;font-size:4rem;text-anchor:start;text-align:start;writing-mode:lr;font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;opacity:1"
                id="tspan815">GYMNASTICS</tspan></text>
          </g>
        </svg>
        <svg
   id="svg8"
   version="1.1"
   viewBox="0 0 210 297"
   height="297mm"
   width="210mm">
  <defs
     id="defs2">
    <linearGradient
       id="linearGradient823">
      <stop
         id="stop819"
         offset="0"
         style="stop-color:#000000;stop-opacity:1;" />
      <stop
         id="stop821"
         offset="1"
         style="stop-color:#000000;stop-opacity:0;" />
    </linearGradient>
    <linearGradient
       gradientUnits="userSpaceOnUse"
       y2="0.318106"
       x2="112.26041"
       y1="0.318106"
       x1="33.639881"
       id="linearGradient825"
       xlink:href="#linearGradient823" />
  </defs>
  <g
     id="layer1">
    <text
       id="text817"
       y="-53"
       x="33.639881"
       style="font-style:normal;font-weight:normal;font-size:2rem;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:0.47089946;stroke:url(#linearGradient825);stroke-width:0.465;stroke-miterlimit:4;stroke-dasharray:none;"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2rem;font-family:'Franklin Gothic Medium';-inkscape-font-specification:'Franklin Gothic Medium, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;opacity:1;fill:#646464;fill-opacity:1;stroke:#000000;stroke-width:0.465;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         y="-53"
         x="33.639881"
         id="tspan815">LEVELS 1-6</tspan></text>
  </g>
</svg>
              </div>
              <h1 class="athleteName">Athlete:</h1>
              <div class="logoWrapper">
                <img src="assets/dynamoLogo.png" class="logo">
              </div>
              <div class="infoWrapper">
                <p>650 Jamieson Parkway, Unit 8</p>
                <p>Cambridge, Ontario | N3C 0A5</p>
                <p>519.658.4670</p>
                <p>info@dynamogymnastics.ca</p>
                <p>www.dynamogymnastics.ca</p>
              </div>
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class="page">
  <table class="page2Table rankTable">
    <tr>
      <td colspan="2" class="shading"></td>
      <ng-container *ngFor="let level of printableReportCard.levels; let i = index">
        <td *ngIf="i === 0" class="skill levelName shading">{{level.name}}</td>
        <td *ngIf="i > 0" class="spacing shading"></td>
        <td *ngIf="i > 0" class="skill levelName shading">{{level.name}}</td>
      </ng-container>
    </tr>
    <ng-container *ngFor="let event of printableReportCard.events">
      <tr *ngFor="let skill of event.skills; let i = index">
        <td *ngIf="i === 0" class="eventName shading" [attr.rowspan]="event.skills.length"><div><b class="vertical-text">{{event.name}}</b></div></td>
        <ng-container *ngFor="let level of skill.levels">
          <td class="spacing">{{level.rank}}</td>
          <td class="skill">{{level.name}}</td>
        </ng-container>
      </tr>
    </ng-container>
    <tr>
      <td colspan="13">
        <br>
        <p class="legend w-100"><b>LEGEND:</b> L - LEARNING   M - MASTERED</p>
        <p class="note w-100"><i>Please feel free to speak to your child's coach or any member of our Dynamo Gymnastics staff regarding any questions about this report card.</i></p>
      </td>
    </tr>
  </table>
</div>
</ng-container>