
<ng-container *ngIf="testingSheetLoaded | async">
  <ng-container *ngFor="let pageData of testPages; let pageIndex = index">
  <div class="page">
    <table class="page2Table">
      <tr>
        <td>
          <table class="rankTable pageHeight">
            <tr>
              <td rowspan="2" class="shading"></td>
              <td colspan="6" class="athleteName shading">{{pageData.athlete[0].first_name}} {{pageData.athlete[0].last_name}}</td>
            </tr>
            <tr>
              <ng-container *ngFor="let level of pageData.levels[0]; let i = index">
                <td colspan="2" class="levelName shading">{{level.name}} Level {{level.level_number}}</td>
              </ng-container>
            </tr>
            <ng-container *ngFor="let event of pageData.events[0]">
              <tr *ngFor="let skill of event.skills; let i = index">
                <td *ngIf="i === 0" class="eventName shading" [attr.rowspan]="event.skills.length"><div><b class="vertical-text">{{event.name}}</b></div></td>
                <ng-container *ngFor="let skill of skill.levels">
                  <td class="spacing">{{skill.rank === 'A' ? 'M' : skill.rank}}</td>
                  <td class="skill">{{skill.rank === 'A' ? skill.name + ' (A)' : skill.name}}</td>
                </ng-container>
              </tr>
            </ng-container>
      
          </table>
        </td>
        <td *ngIf="pageData.events.length > 1">
          <table class="rankTable pageHeight">
            <tr>
              <td rowspan="2" class="shading"></td>
              <td colspan="6" class="athleteName shading">{{pageData.athlete[1].first_name}} {{pageData.athlete[1].last_name}}</td>
            </tr>
            <tr>
              <ng-container *ngFor="let level of pageData.levels[1]; let i = index">
                <td colspan="2" class="levelName shading">{{level.name}} Level {{level.level_number}}</td>
              </ng-container>
            </tr>
            <ng-container *ngFor="let event of pageData.events[1]">
              <tr *ngFor="let skill of event.skills; let i = index">
                <td *ngIf="i === 0" class="eventName shading" [attr.rowspan]="event.skills.length"><div><b class="vertical-text">{{event.name}}</b></div></td>
                <ng-container *ngFor="let skill of skill.levels">
                  <td class="spacing">{{skill.rank === 'A' ? 'M' : skill.rank}}</td>
                  <td class="skill">{{skill.rank === 'A' ? skill.name + ' (A)' : skill.name}}</td>
                </ng-container>
              </tr>
            </ng-container>
      
          </table>
        </td>
      </tr>
    </table>
    

    
  </div>

  <div *ngIf="pageIndex < testPages.length-1" class="newPage"></div>

</ng-container>

</ng-container>