
<mat-grid-list cols="6" rowHeight="40px">
  <div *ngFor="let user of users">
    <mat-grid-tile><b>First Name:</b></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field class="w-100">
        <input #firstName matInput value="{{user.first_name}}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile><b>Last Name:</b></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field class="w-100">
        <input #lastName matInput value="{{user.last_name}}">
      </mat-form-field>
    </mat-grid-tile>

    
    <mat-grid-tile><b>Username:</b></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field class="w-100">
        <input #username matInput value="{{user.username}}">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile><b>Email:</b></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field class="w-100">
        <input #email matInput value="{{user.email}}">
      </mat-form-field>
    </mat-grid-tile>


    <mat-grid-tile><b>Password:</b></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field class="w-100">
        <input #password matInput>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile><b>Confirm Password:</b></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-form-field class="w-100">
        <input #passwordConfirm matInput>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="2">
        <mat-button-toggle-group name="accessLevel" #accessLevelGroup="matButtonToggleGroup" aria-label="Access Level" value="{{user.access}}">
          <mat-button-toggle value="COACH">Coach</mat-button-toggle>
          <mat-button-toggle value="SUPERVISOR">Supervisor</mat-button-toggle>
          <mat-button-toggle value="ADMIN">Admin</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button (click)="updateUser(firstName, lastName, username, email, password, passwordConfirm, accessLevelGroup)" mat-raised-button color="primary">Update User</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button color="warn">Delete User</button>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="6">
      <mat-divider style="width: 100%;"></mat-divider>
    </mat-grid-tile>
  </div>
</mat-grid-list>
    