<section class="day-of-week-section">
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="sunChecked" matBadge="{{sunCount}}" matBadgeColor="accent" [matBadgeHidden]="sunCount == 0" matBadgeOverlap="false">Sunday</mat-checkbox>
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="monChecked" matBadge="{{monCount}}" matBadgeColor="accent" [matBadgeHidden]="monCount == 0" matBadgeOverlap="false">Monday</mat-checkbox>
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="tueChecked" matBadge="{{tueCount}}" matBadgeColor="accent" [matBadgeHidden]="tueCount == 0" matBadgeOverlap="false">Tuesday</mat-checkbox>
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="wedChecked" matBadge="{{wedCount}}" matBadgeColor="accent" [matBadgeHidden]="wedCount == 0" matBadgeOverlap="false">Wednesday</mat-checkbox>
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="thuChecked" matBadge="{{thuCount}}" matBadgeColor="accent" [matBadgeHidden]="thuCount == 0" matBadgeOverlap="false">Thursday</mat-checkbox>
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="friChecked" matBadge="{{friCount}}" matBadgeColor="accent" [matBadgeHidden]="friCount == 0" matBadgeOverlap="false">Friday</mat-checkbox>
    <mat-checkbox class="day-of-week-margin" (change)="adjustDisplayedCards()" [(ngModel)]="satChecked">Saturday</mat-checkbox>
</section>

<mat-accordion>
    <div *ngIf="reportCards.length === 0" class="w-100">
        <h1>No Report Cards waiting to be Approved!</h1>
    </div>
    <app-report-card-panel 
        *ngFor="let reportCard of reportCards" 
        [reportCard]="reportCard"
        (reportCardApprovedChanged)="reportCardApproved($event)">
    </app-report-card-panel>
</mat-accordion>