.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.fixed-progress-bar {
  width: 100%; 
}

.content-below-header {
  margin-top: 70px;
}