
<form class="w-100">
  
  <mat-card>
    <mat-card-title>Report Cards</mat-card-title>
    <mat-card-subtitle>Fill in report card</mat-card-subtitle>
    <mat-card-content>
      
      <mat-form-field class="w-100">
        <input type="text" placeholder="Select Athlete" aria-label="Athletes Name" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let athlete of filteredAthletes | async" [value]="athlete">
            {{athlete}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        
      <button mat-raised-button>Submit for Approval</button>

      <h3 *ngIf="levels">{{levels[0].name}}</h3>
      
      <mat-accordion *ngIf="levels">
        <mat-expansion-panel *ngFor="let event of levels[0].events">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{event.name}}</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let skill of event.skills">
            {{skill.name}}
            <mat-button-toggle-group name="skillAbility" aria-label="Skill Ability">
              <mat-button-toggle value="L" checked="{{skill.rank === 'L'}}">Learning</mat-button-toggle>
              <mat-button-toggle value="M" checked="{{skill.rank === 'M'}}">Mastered</mat-button-toggle>
            </mat-button-toggle-group>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  
</form>