<form class="w-100">
  <mat-card class="card">
    <mat-card-title>Report Cards</mat-card-title>
    <mat-card-subtitle class="mb-0">Select athlete to continue</mat-card-subtitle>
    <mat-card-content>
      <app-athlete-select #athleteSelect (selectedAthleteChange)="updateSelectAthlete($event)" ></app-athlete-select>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="selectedAthlete">
    <mat-card-content>
      <app-level-select (levelChange)="updateSelectLevel($event)" ></app-level-select>

      <mat-list *ngIf="level">
        <app-report-card-events [level]="level" (events)="onEventsChange($event)"></app-report-card-events>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="spacingForButton" *ngIf="level && selectedAthlete">
    <mat-card-content>
      <mat-form-field class="w-100">
        <textarea matInput rows="10" [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="accent" (click)="submitClick()" class="submitButton" *ngIf="level && selectedAthlete">Submit for Approval</button>
</form>