.delete:hover {
  color: black;
  background-color: red;
  cursor: pointer;
}

.delete {
  color: red;
}

.level-groups-section {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.level-groups-margin {
  margin: 0 10px;
}
